In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# do plotting inline instead of new window
%matplotlib inline

datafile = './data/internet_pics_data/ad.csv'
df = pd.read_csv(datafile, low_memory=False)

In [13]:
df.head(10)

,125,125.1,1.0,1,0,0.1,0.2,0.3,0.4,0.5,...,0.1532,0.1533,0.1534,0.1535,0.1536,0.1537,0.1538,0.1539,0.1540,ad.
0,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
5,59,460,7.7966,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
6,60,234,3.9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
7,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
8,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
9,?,?,?,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

Row #10 has missing values...  
check for all rows having missing values. Use `pandas.dropna()` to remove such rows

## Prep Data

#### Remove empty values / nan values

In [16]:
print df.isnull().values.any()

def to_num(cell):
    try: 
        return np.float(cell)
    except: 
        return np.nan

# apply to_num method to every panda series
def series_to_num(series):
    return series.apply(to_num)

train_data = df.iloc[0:, : -1].apply(series_to_num)

False

In [18]:
print train_data.head(10)

    125   125.1     1.0    1    0  0.1  0.2  0.3  0.4  0.5   ...    0.1531  \
0  57.0   468.0  8.2105  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
1  33.0   230.0  6.9696  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
2  60.0   468.0  7.8000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
3  60.0   468.0  7.8000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
4  60.0   468.0  7.8000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
5  59.0   460.0  7.7966  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
6  60.0   234.0  3.9000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
7  60.0   468.0  7.8000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
8  60.0   468.0  7.8000  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0
9   NaN     NaN     NaN  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...       0.0

   0.1532  0.1533  0.1534  0.1535  0.1536  0.1537  0.1538  0.1539  0.1540
0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
6     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
7     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
8     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
9     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

[10 rows x 1558 columns]

In [21]:
train_data = train_data.dropna()

In [23]:
train_data.head(10)

,125,125.1,1.0,1,0,0.1,0.2,0.3,0.4,0.5,...,0.1531,0.1532,0.1533,0.1534,0.1535,0.1536,0.1537,0.1538,0.1539,0.1540
0,57.0,468.0,8.2105,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,33.0,230.0,6.9696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,60.0,468.0,7.8000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60.0,468.0,7.8000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60.0,468.0,7.8000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,59.0,460.0,7.7966,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,60.0,234.0,3.9000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,60.0,468.0,7.8000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,60.0,468.0,7.8000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,90.0,52.0,0.5777,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Convert ad. to 1 and all else to 0

In [24]:
def to_label(s):
    if s == 'ad.':
        return 1
    return 0

train_labels = df.iloc[train_data.index, -1].apply(to_label)

## Support Vector machines Algorithm

In [26]:
from sklearn.svm import LinearSVC

svc_model = LinearSVC()
svc_model.fit(train_data[100:2300], train_labels[100:2300])

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

### Testing on random rows

In [28]:
svc_model.predict(train_data.iloc[12].values.reshape(1,-1))

array([1])

In [29]:
svc_model.predict(train_data.iloc[-1].values.reshape(1,-1))

array([0])